#mainNavBar{
    background-color: #36D993;
    /* position: fixed; */
    /* overflow: scroll; */
}
#footerDiv{
    width: 100% !important;
}
/* #carousel{
    height: 300px !important;
}
.carousal.item {
    height: 300px;
}
.item.img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
} */
#img1{
    height:585px;
    margin: 15px;
    margin-top: 0px;
} 
#img2{
    height:585px;
    margin: 15px;
    margin-top: 0px;
} 
#img3{
    height:585px;
    margin: 15px;
    margin-top: 0px;
} 
/* #carousalDiv{
    height:300px;
}
#carousel{
    height: 300px;
}
#cId{
    height: 300px;
} */
#navItem{
    color: white;
    font-weight: bold;
}
#homeHeader,h3{
    /* color:#434343; */
    color:#192A56;
    /* color: #3693D9; */
    /* color: #9336D9; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
.category-icon{
    color: white;
}
#italic{
    color:  #36D993;
}
.categoryBtn{
    background-color: #36D993;
    border-radius: 20%;
    padding: 20px;
    margin-left: 20px;
    border: transparent;
    color: white;
    font-weight: bold;
}
#aboutUsContainer,#margDiv{
    background-color: #dde0e6;
    color: black;

}
#margDiv{
    background-color: #dde0e6;
}