
.container{
 display: flex;
 margin: 0;
 padding: 0;
}
main{
  width:100%;
  padding:20px;
}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  /* position: fixed; */
  top: 0;
  left: 0;
  

}
.top-selection{
  display: flex;
  align-items: center;
  padding: 20px 15px;

}
.logo{
  font-size: 30px;
}
.bars{
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.link{
  display:flex;color:#fff;
  padding: 5px 15px;
  gap:1;
  transition: all 0.5s;
  
}
.link:hover{
  background: lightskyblue;
  color:#000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color:#000;
}

.icon, .link_text{
    font-size: 20px;
    margin: 5px;
}

.table {
  margin-top: 20px;
}

.table thead th {
  background-color: #f8f9fa;
  color: #212529;
}

.table tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

.table-hover tbody tr:hover {
  background-color: #e9ecef;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}
.order-card {
  background-color: #f8f9fa;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}
